/****************** Home Section Begins ****************************/
.home {
    @extend %base;
    background: linear-gradient(55.68deg, #C4C4C4, #faf6f6);
    overflow: hidden;

    #navbar {
        padding-top: 50px;
        padding-left: 100px;

        a {
            font-family: "Radley";
            font-size: 28px;
            line-height: 35px;
            color: black;
            padding: 20px;
            margin-left: 30px;
            text-decoration: none;
        }

        mark {
            background-color: white;
        }
    }

    div {
        padding-left: 67px;
        white-space: nowrap;

        h1 {
            @extend %subheading;
            text-align: left;
        }

        p {
            font-size: 36px;
            line-height: 40px;
        }  
    }

    .icons {
        padding-top: 50px;
       
        img {
            float: left;
            width: auto;
            height: auto;
            background-color: #faf6f6
        }
    }

    button {
        @extend %button;
    }

    img {
        float: right;
    }
}